.DS_Store
Thumbs.db
*.user
*.suo
*.lock
*.log

.vs/
.idea/
.vscode/
*.swp
*.swo

bin/
obj/
[Bb]uild/
[Oo]ut/
msbuild.log
*.nupkg

packages/
**/packages/

publish/
*.pubxml
app.publish/

TestResults/
*.coverage
*.coveragexml

appsettings.*.json
appsettings.Development.json
*.Development.yaml
secrets.json  # Файл секретов (dotnet user-secrets)
.env
*.env.local

**/__VIEWSTART.cshtml
**/__VIEWS.cshtml
*.cshtml.css
*.cshtml.razor.*

artifacts/

node_modules/
jspm_packages/